* {
  box-sizing: border-box;
  transition: all .3s ease;
}

body {
  padding: 30px;
}

.center {
  text-align: center;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.singleBook {
  border-radius: 10px;
  background-color: rgb(176, 206, 250);
    color: #333;
  padding: 15px;
  margin: 5px;
  margin-bottom: 20px;
  height: 200px;

}


h1 {
  font-size: 50px;
}

h3, h1 {
  font-weight: 400;
  font-family: 'Fredericka the Great', cursive;
}

#main {
  position: relative;
  top: 0;
}

h4, h2 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Josefin Slab', serif;
}

nav {
  background-color: white;
  padding: 20px;
  z-index: 999;
}

#chapters {
  display: flex;
  flex-direction: column;
  height: 85vh;
  flex-wrap: wrap;
  padding-top: 50px;
}

#allBooksButton {
  z-index: 1000;
  position: fixed;
  color: white;
  top: 20px;
  padding: 10px;
  background-color: rgb(105, 149, 207);
  border-radius: 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 26px;
}

.chapter {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  width: 180px;
  margin: 5px;
  border-bottom: solid rgba(0,0,0,0) 2px;
}

.chapter:hover {
  border-bottom: solid rgb(176, 206, 250) 2px;
}

li {
  list-style: none;
  width: 250px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

.flex-grid {
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
