* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.singleBook {
  background-color: rgb(255, 200, 200);
  color: #333;
  padding: 15px;
  margin: 5px;
}

.singleBook:hover {
  background-color: rgb(250, 176, 176);
}

li {
  list-style: none;
  width: 250px;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
